* {
    box-sizing: border-box;
}

:root {
    --main-green: #43a043;
    --light-body-bg: #d4f3ff;
    --light-banner-bg: #afe8ff;
    --dark-body-bg: #0f1226;
    --dark-banner-bg: black;
    --main-white: rgb(235, 235, 235);
    --main-black: #333;
    --sun: #ffe515;
    --sun-inset-shadow: #ecc219;
}

body {
    transition: all 2s;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--light-body-bg);
    color: var(--main-black);
    margin: 0 4rem;
}

body.switch {
    background-color: var(--dark-body-bg);
    color: rgb(235, 235, 235);
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: var(--light-banner-bg);
    border: 2px solid var(--main-green);
    transition: all 2s;
    overflow: hidden;
    transform: rotate(0deg);
}

#banner.switch {
    background-color: var(--dark-banner-bg);
    border: 2px solid var(--main-white);
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    width: 25%;
    border: 1px dashed var(--main-green);
    margin: 0 .25em;
    padding: 1em;
}

main section.switch {
    border: 1px dashed var(--main-white);
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: black;
}

section a:hover {
    background-color: var(--main-green);
    color: var(--main-black);
}

section.switch a {
    color: white;
}

section.switch a:hover {
    background-color: var(--main-white);
    color: var(--main-black);
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 30px;
    width: 60px;
    background-color: var(--main-black);
    color: var(--main-white);
    border: 1px solid transparent;
}

button .circle {
    position: absolute;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-white);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    transition: all 0.5s;
}

button:hover {
    cursor: pointer;
}

button.switch {
    background-color: var(--main-white);
}

button.switch .circle {
    background-color: var(--main-black);
    transform: translateX(28px);
}

.hide {
    opacity: 0;
}


/********************** Animations ***********************/

#stars {
    width: 100%;
    position: relative;
}

.star {
    position: absolute;
    background-color: var(--main-white);
    border-radius: 50%;
    animation-name: twinkle;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/* Fade in/out the hills */
img { 
    position: absolute; 
    bottom: 0;
}

img.slidein {
    transition: all;
    animation: slidein 2000ms 1 normal ease-in-out forwards;
}

img.fadein {
    animation: fadein 2300ms 1 normal ease-in forwards;
    z-index: 2;
}

img.fadeout {
    animation: fadeout 3000ms 1500ms 1 normal ease-out forwards;
    z-index: 1;
}

/* Sun and moon rise/set */
#sun, #moon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 170%;
    left: 50%;
    transform: rotate(0deg);
}

#sun { 
    background: var(--sun); 
    box-shadow: 0px 0px 5px orange, 0 0 7px var(--sun-inset-shadow) inset;
}
#moon { 
    background: var(--main-white);
    box-shadow: 0px 0px 15px 2px var(--main-white);
}

#moon .crater {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
}

#moon #crater1 {
    top: 15px;
    right: 12px;
    width: 20px;
    height: 20px;
}

#moon #crater2 {
    top: 30px;
    right: 5px;
    width: 10px;
    height: 10px;
}

#moon #crater3 {
    top: 40px;
    right: 15px;
    width: 8px;
    height: 8px;
}

.rise {
    animation: rise 1800ms 800ms 1 normal ease-in-out forwards;
}

.set {
    animation: set 1800ms 1 normal ease-in-out forwards;
}

/* Keyframes */
@keyframes rise {
    0% {
        transform: rotate(0deg) translateX(400px) translateY(0) rotate(0deg);
    }
    100% {
        transform: rotate(-90deg) translateX(400px) translateY(0px) rotate(90deg);
    }
}

@keyframes set {
    0% {
        transform: rotate(-90deg) translateX(400px) translateY(0px) rotate(90deg);
    }
    100% {
        transform: rotate(-180deg) translateX(400px) translateY(0px) rotate(180deg);
    }
}

@keyframes twinkle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}