/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    --background: #edf9d3;
    --main-green: #09a24e;
    --dark-green: #077e3c;
    --main-black: rgb(67, 67, 67);
    --no-red: #d02a2a;
    --spritesheet-width: 5464px;
    --num-frames: 8;
    --plant1-height: 7;
    --plant2-height: 2;
    --plant3-height: 1;
    --plant1-type: url('');
    --plant2-type: url('');
    --plant3-type: url('');
}

/*************** Basic styles **************/
.hidden {
    display: none;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/**************** Elements ****************/
body {
    height: 100vh;
    background-color: var(--background);
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    padding: 30px;
    margin: 0;
    color: var(--main-black);
}

.back-btn, .info-btn, .share-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 2em;
    color: var(--main-black);
    cursor: pointer;
    z-index: 1;
}

.info-btn {
    top: 85px;
}

.share-btn {
    top: 140px;
}

.plants {
    display: flex;
    justify-content: center;
    transform: translate(40px);
}

.plant {
    width: 670px;
    height: 650px;
    transform: translate(-25%);
    margin-right: 2rem;
    margin-left: -3rem;
}

#plant1 {
    background: var(--plant1-type) no-repeat;
    animation: move1 1s steps(var(--plant1-height)) forwards;
}

#plant2 {
    background: var(--plant2-type) no-repeat;
    animation: move2 1s steps(var(--plant2-height)) forwards;
}

#plant3 {
    background: var(--plant3-type) no-repeat;
    animation: move3 1s steps(var(--plant3-height)) forwards;
}

/********************* Animations ********************/
@keyframes move1 {
    from {
        background-position: 0px;
    }
    to {
        background-position: calc(-1 * (var(--plant1-height)/var(--num-frames) * var(--spritesheet-width)));
    }
}

@keyframes move2 {
    from {
        background-position: 0px;
    }
    to {
        background-position: calc(-1 * (var(--plant2-height)/var(--num-frames) * var(--spritesheet-width)));
    }
}

@keyframes move3 {
    from {
        background-position: 0px;
    }
    to {
        background-position: calc(-1 * (var(--plant3-height)/var(--num-frames) * var(--spritesheet-width)));
    }
}

/* Body scale in animation */
.scalein {
    animation: scalein 1s ease;
}

@keyframes scalein {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

/******************** Overlays ********************/
.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#info-overlay {
    padding: 25px;
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.close {
    cursor: pointer;
    font-size: 2.5em;
    float: right;
    display: inline;
}