/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    --main-green: #09a24e;
    --dark-green: #077e3c;
}

html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0 3rem;
}

header {
    text-align: center;
}

.logo {
    font-family: 'Poiret One', cursive;
    font-size: 1.8em;
    color: var(--main-green);
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4em;
    margin: 50px 0;
}

.green {
    color: var(--main-green);
}

.chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.chip, a {
    border-radius: 30px;
    padding: 15px 22px;
    margin: 12px;
    font-size: 1.2em;
}

.chip {
    border: 2px solid var(--main-green);
    color: var(--main-green);
    cursor: pointer;
    transition: 0.25s ease;
}

.chip.selected {
    background-color: var(--main-green);
    color: white;
}

a {
    border: 2px solid var(--main-green);
    color: var(--main-green);
    text-decoration: none;
    max-width: 150px;
    margin: 30px auto;
    transition: 0.25s ease;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

a#toPage2 {
    pointer-events: none;
    opacity: 0.7;
}

a#continue {
    background-color: var(--main-green);
    color: white;
}

/* Sliding form */
textarea {
    width: 80%;
    margin: auto;
}

.page1 {
    z-index: 1;
}

.page2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: -1;
}


/* TODO: Get slideout and slidein working. Right now, they just fade out and fade in.
Later, they should slide to replace each other (like a carousel). */
.slideout {
    opacity: 0;
    z-index: -1;
}

.slidein {
    opacity: 1;
    z-index: 1;
    transition: 1s ease;
}